<!--thử ngay 07/10/2025-->
<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <title>Trang tài khoản</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body class="login-box">
        
        <!-- Form đăng nhập. ('hidden' là ẩn) -->
        <form id="loginForm" hidden action="http://127.0.0.1:5000/api/auth/login" method="post">
            <h2>Đăng nhập</h2>
            <label>Tên đăng nhập:
                <input type="text" id="id" required/>
            </label>
            <label>Mật khẩu:
                <input type="password" id="password" required/>
            </label>
            <button type="submit">Đăng nhập</button>
            <p><a href="#" onclick="showForm('forgot')">Quên mật khẩu?</a></p>
            <!--
            <h2>Quên mật khẩu</h2>
            <input type="text" id="forgotUser" placeholder="Tài khoản hoặc email" required>
            <button type="submit">Gửi yêu cầu</button>
            -->
        </form>
        <!-- Form quên mật khẩu -->
        <form id="forgotForm" hidden>
            <h2>Quên mật khẩu</h2>
            <label>Email:
                <input type="email" id="email" required/>
            </label>
            <label>Mật khẩu mới:
                <input type="password" id="f-newP" required/>
            </label>
            <label>Xác nhận mật khẩu mới:
                <input type="password" id="f-xacnhan" required/>
            </label>
            <button type="submit">Cập nhật</button>
        </form>
        <!-- Form đổi mật khẩu -->
        <form id="resetForm" hidden>
            <h2>Đổi mật khẩu</h2>
            <label>Mật khẩu hiện tại:
            <input type="password" id="oldP" required/>
            </label>
            <label>Mật khẩu mới:
                <input type="password" id="newP" required/>
            </label>
                <label>Xác nhận mật khẩu mới:
                <input type="password" id="xacnhan" required/>
            </label>
            <button type="submit">Cập nhật</button>
        </form>
        <!-- Form đăng xuất-->
        <form id="logoutForm" hidden>
            <h2>Bạn có chắc muốn đăng xuất?</h2>
            <button type="submit">Đăng xuất</button>
        </form>

        <script src="../static/form.js"></script>
    </body>
</html>