<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>

    <div class="login-container">
        <div class="info-side">      
            <h1 class="brand-name">Class</h1>
            <p>Hệ thống hỗ trợ quản lý sinh viên</p>
            <p>Xây dựng và phát triển bởi Nhóm 4-Python 9</p>
            <p >Học viện Công nghệ Bưu chính Viễn Thông - Miền Bắc</p>
        </div>

        <div class="form-side">
            <div class="form-box">
                
                <form id="loginForm" hidden>
                    <img src="../static/logo-ptit.webp" alt="Logo" class="form-logo">
                    <h2>ĐĂNG NHẬP</h2>
                    
                    <div class="input-group">
                        <i class="fas fa-user"></i>
                        <input type="text" id="id" placeholder="ID" required/>
                    </div>
                    
                    <div class="input-group">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="password" placeholder="Mật khẩu" required/>
                    </div>
                    
                    <button type="submit">Đăng nhập</button>           
                </form>

                <form id="resetForm" hidden>
                    <h2>Đổi mật khẩu</h2>
                    
                    <div class="input-group">
                        <i class="fas fa-lock"></i>
                        <input type="password" id="oldP" placeholder="Mật khẩu hiện tại" required/>
                    </div>
        
                    <div class="input-group">
                        <i class="fas fa-key"></i>
                        <input type="password" id="newP" placeholder="Mật khẩu mới" required/>
                    </div>
        
                    <div class="input-group">
                        <i class="fas fa-key"></i>
                        <input type="password" id="xacnhan" placeholder="Xác nhận mật khẩu mới" required/>
                    </div>
        
                    <button type="submit">Cập nhật</button>   
                    <p style="text-align: center; margin-top: 15px;"><a href="#" onclick="history.back(); return false;">Hủy / Quay lại</a></p>
                </form>

                <form id="logoutForm" hidden>
                    <img src="../static/logo-ptit.webp" alt="Logo" class="form-logo">
                    <h3>Bạn chắc chắn muốn đăng xuất?</h3>
                    <button type="submit">Đăng xuất</button>
                    <p style="text-align: center; margin-top: 15px;"><a href="#" onclick="history.back(); return false;">Hủy / Quay lại</a></p>
                </form>

            </div> </div> </div> <script src="../static/form.js"></script>
</body>
</html>