<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Đăng nhập</h1>
    <form action="http://127.0.0.1:5000/api/auth/login" method="POST">
        <label >Tài khoản</label><br>
        <input type="text" name="id"><br>
        <label >Mật khẩu </label><br>
        <input type="password" name="password"><br>
        <button type="submit">Đăng nhập</button>
    </form>
</body>
</html>
# Tôi test thử xem api co chay duoc hay khong thoi
