/* Thử style của bên sinh viên */
label { 
    display: block; 
    margin-top: 10px; 
}
input[type="text"], input[type="email"], input[type="password"] {
    width: 100%; 
    padding: 5px; 
    margin-top: 5px;
}
button { /* các ô cập nhật, đăng nhập...*/
    background-color: #ee8c8c;
    margin-top: 10px; 
    padding: 7px 10px; 
    width: 100%;
    font-size: large;
}
/* khung đăng nhập,...*/
.login-box {
    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center;     /* căn giữa dọc */
    height: 100vh;           /* chiếm toàn bộ chiều cao trình duyệt */
    margin: 0;
    background-color: #ffffff; /* nền xám nhẹ */
}
.login-box form {
    border: 1px solid #000000; 
    padding: 30px; 
    border-radius: 8px; 
    width: 300px; 
    background-color: #ffffff;
}

/* định dạng bố cục trang*/
main {
    display: flex;
    background-color: #ffffff;
}
/* nửa trang bên phải*/
main article {
    flex: 3;
    padding: 10px;
    border: 3px solid #000000 ;
}
/* Nửa trái của trang: chuyển đổi tính năng*/
main aside{
    flex: 1;
    padding: 10px;
    border: 3px solid #000000;
}
.chuyen ul { 
    list-style-type:none; 
    padding-left: 2px; 
    margin: 5px 0;
}
.chuyen ul li { 
    color: black;/*màu chữ*/
    font-size: 16px;
    line-height: 1.5;/*khoảng cách dòng*/
    padding: 5px 0;
}
/* thể hiện trang(tính năng) hiện tại */
.m1 {
    color: #ebb0b0;
    background-color: #ebb0b0;
}
/* dạng bảng dữ liệu cơ bản*/
table.danhSach {
  width: 100%;
  border-collapse: collapse; /* gộp viền lại cho gọn */
}

table.danhSach th,
table.danhSach td {
  border: 1px solid black; /* viền đen */
  padding: 8px;
  text-align: left;
}