<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <title>Điểm danh - Sinh viên</title>
  <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
  <h2>Thông tin điểm danh</h2>
  <a href="monA.html">Quay lại</a>
  <table class="danhSach">
    <thead>
      <tr>
        <th>Ngày</th>
        <th>Môn học</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <!-- for ...-->
      <tr>
        <td>...</td>
        <td>...</td>
        <td>...</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
