<!DOCTYPE html> 
<html lang="vi"> 
<head> 
  <meta charset="UTF-8" /> 
  <title>Xem điểm - Sinh viên</title>  
  <link rel="stylesheet" href="../../static/style.css">
</head>
<body>  
  <h2>Điểm học tập</h2>
  <table>
    <thead>
      <tr>
        <th>Môn học</th>
        <th>Giữa kỳ</th>
        <th>Cuối kỳ</th>
        <th>Tổng kết</th>
      </tr>
    </thead>
  <!-- đoạn dữ liệu ví dụ tạo sẵn-->
    <tbody>
      <tr>
        <td>Python cơ bản</td>
        <td>7.5</td>
        <td>8.0</td>
        <td>7.8</td>
      </tr>
      <tr>
        <td>Web cơ bản</td>
        <td>8.0</td>
        <td>9.0</td>
        <td>8.5</td>
      </tr>
    </tbody>

    <tbody id="bangDiem">
      <!-- dữ liệu sẽ được thêm ở đây = javaScript-->
    </tbody>
  </table>

  <!--chưa lấy dữ liệu, liên kết .js -->

</body>
</html>
