<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <title>Đổi mật khẩu</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <body class="login-box">
            <form id="resetFrom">
                <h2>Đổi mật khẩu</h2>
                <label>Mật khẩu hiện tại:
                    <input type="password" id="oldP" required/>
                </label>
                <label>Mật khẩu mới:
                    <input type="password" id="newP" required/>
                </label>
                <label>Xác nhận mật khẩu mới:
                    <input type="password" id="xacnhan" required/>
                </label>
                <button type="submit">Cập nhật</button>
            </form>

        <script src="../../static/form.js"></script>

    </body>
</html>