<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="../../static/style.css">
</head>
<body class="login-box">
    <form id="loginForm">
      <h2>Đăng nhập</h2>
      <label>Tên đăng nhập:
        <input type="text" id="ten" required/>
      </label>
      <label>Mật khẩu:
        <input type="password" id="mk" required/>
      </label>
      <button type="submit">Đăng nhập</button>
      <a href="quenMK.html">Quên mật khẩu?</a>
    </form>

  <script src="../../static/form.js"></script>
</body>
</html>
