<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8"/>
        <title>Lớp tín chỉ</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <body>
        <main>
            <article class="left1">
                <header>
                    <h1>Các lớp học</h1>
                </header>
                <!-- for n lớp-->
                <ul>
                    <li><a href="monA.html">Môn A</a></li>
                </ul>
            </article>
            <aside>
                <h1>Tính năng</h1>
                <ul class="chuyen">
                    <li><a href="doiMK.html">Đổi mật khẩu</a></li>
                    <li><a href="trangChu.html">Trang chủ</a></li>
                    <li><a href="newInfo.html">Cập nhập thông tin</a></li>
                    <li><a href="diem.html">Kết quả học tập</a></li>
                    <li class="m1"><a href="lopTinChi.html">Lớp tín chỉ</a></li>
                    <li><a href="log_SV.html">Đăng xuất</li>
                </ul>
            </aside>
        </main>
    </body>
</html>