<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8"/>
        <title>Lớp tín chỉ</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <body>
        <main>
            <article>
                <header>
                    <h2>Các lớp học</h2>
                </header>
                <!-- for n lớp-->
                <ul>
                    <li><a href="monA.html">Môn A</a></li>
                </ul>
            </article>
            <aside>
                <h2>Tính năng</h2>
                <ul class="chuyen">
                    <li><a href="../index.html#resetForm" id="">Đổi mật khẩu</a></li>
                    <li><a href="trangChu.html">Trang chủ</a></li>
                    <li><a href="newInfo.html">Cập nhập thông tin</a></li>
                    <li><a href="diem.html">Kết quả học tập</a></li>
                    <li class="m1"><a href="lopTinChi.html">Lớp tín chỉ</a></li>
                    <li><a href="../index.html#logoutForm" id="">Đăng xuất</li>
                </ul>
            </aside>
        </main>

        <script src="../../static/form.js"></script>
    </body>
</html>