<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8"/>
        <title>Môn học A</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <table>
        <tbody>
            <thead>Môn học A</thead>
            <tr><td>Giảng viên:</td><td>...</td></tr>
            <tr><td>Danh sách sinh viên:</td><td><a href="ds_banHoc.html">Danh sách</a></td></tr>
            <tr><td>Kì học:</td><td>...</td></tr>
            <tr><td>Phòng học:</td><td>...</td></tr>
            <tr><td>Thời gian học:</td><td>...</td></tr>
            <tr><td>Điểm danh:</td><td><a href="diemdanh.html">Điểm danh</a></td</tr>
            <tr><td>Điểm:</td><td>...</td></tr>
        </tbody>
    </table>
</html>