<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8"/>
        <title>Môn học A</title>
        <link rel="stylesheet" href="../../static/style.css">
    </head>
    <body>
        <table>
            <thead><h2 id="courseName">Môn học</h2></thead>
            <tbody>
                <tr><td>Giảng viên:</td><td id="lecturer"></td></tr>
                <tr><td>Danh sách sinh viên:</td><td><a id="studentListLink" href="#">Xem danh sách</a></td></tr>
                <tr><td>Kì học:</td><td id="termName"></td></tr>
                <tr><td>Phòng học:</td><td id="room"></td></tr>
                <tr><td>Thời gian học:</td><td id="schedule"></td></tr>
                <tr><td>Điểm danh:</td><td><a id="attendanceLink" href="#">Điểm danh</a></td></tr>
                <tr><td>Điểm:</td><td id="grade"></td></tr>
            </tbody>
        </table>
        <a href="lopTinChi.html">Quay lại</a>


        <script src="../../static/form.js"></script>
    </body>
</html>