<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <title>Trang tài khoản</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body class="login-box">

        <form id="loginForm">
            <h2>Đăng nhập</h2>
            <label>Tên đăng nhập:
                <input type="text" id="id" required/>
            </label>
            <label>Mật khẩu:
                <input type="password" id="password" required/>
            </label>
            <button type="submit">Đăng nhập</button>
            <p><a href="#forgot" onclick="showForm('forgot')">Quên mật khẩu?</a></p>
        </form>

        <form id="forgotForm" hidden>
            <h2>Quên mật khẩu</h2>
            <label>Email:
                <input type="email" id="email" required/>
            </label>
            <label>Mật khẩu mới:
                <input type="password" id="f-newP" required/>
            </label>
            <label>Xác nhận mật khẩu mới:
                <input type="password" id="f-xacnhan" required/>
            </label>
            <button type="submit">Cập nhật</button>
            <p><a href="#login" onclick="showForm('login')">Quay lại Đăng nhập</a></p>
        </form>

        <form id="resetForm" hidden>
            <h2>Đổi mật khẩu</h2>
            <label>Mật khẩu hiện tại:
            <input type="password" id="oldP" required/>
            </label>
            <label>Mật khẩu mới:
                <input type="password" id="newP" required/>
            </label>
            <label>Xác nhận mật khẩu mới:
                <input type="password" id="xacnhan" required/>
            </label>
            <button type="submit">Cập nhật</button>
             <p><a href="#login" onclick="showForm('login')">Quay lại Đăng nhập</a></p>
        </form>

        <form id="logoutForm" hidden>
            <h3>Bạn chắc chắn muốn đăng xuất?</h3>
            <button type="submit">Đăng xuất</button>
             <p><a href="#login" onclick="showForm('login')">Quay lại Đăng nhập</a></p>
        </form>

        <script src="../static/form.js"></script>
    </body>
</html>